@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
/*NAV*/

.navContainer {
    background-color: rgb(0, 0, 0);
    height: 10vh;
    display: flex;
    justify-content: flex-end;
}
.ulNavbar li {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

.buttonsNav{
    display: flex;
    align-items: center;

}

.ulNavbar {
    display: flex;
    justify-content: space-around;
    width: 300px;
}
.ulNavbar li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.658);
}